/* Estructura general */
*{
    font-family:Open Sans,Lucida Grande,Helvetica Neue,Helvetica,Arial,Sans-serif;
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
    background: #fff;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

/* Nav con logo Last.f */
#nav-logo{
    background-color: #222;
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.5em;
    margin-bottom: 2em;
}

nav>img{
    width: 6em;
}

/* Imágenes con enlace a listas (header) */

img {
    width: 100%; /* se necesita sobrescribir las dimensiones en línea */
    height: auto;
}

header>section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10%, 1fr));
    grid-gap: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* hover styles */
.estilos-card {
    position: relative;
}
  
.estilos-image {
    line-height: 0;
    overflow: hidden;
}
  
.estilos-image img {
    filter: blur(0px);
    transition: filter 0.3s ease-in;
    transform: scale(1.1);
}
  
.estilos-musica {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    z-index: 1;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s;
    background: #B90000;
    color: #fff;
    /* centrar el texto */
    display: flex;
    align-items: center;
    justify-content: center;
}
  
#rock:hover .estilos-musica {
    opacity: 1;
    filter: sepia(90%);
}

#hip-hop:hover .estilos-musica {
    opacity: 1;
    filter: contrast(200%);
}

#indie:hover .estilos-musica {
    opacity: 1;
    filter: grayscale(50%);
}

#jazz:hover .estilos-musica {
    opacity: 1;
    filter: hue-rotate(90deg);
}

#reggae:hover .estilos-musica {
    opacity: 1;
    filter: saturate(10%);
}
  
/* Nav con enlaces a listas */

#menu-lista {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ul-menu-lista{
    padding-top: 40px;
    width: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ul-menu-lista li {
    padding-left: 5px;
    padding-right: 5px;
}

/* Colores:
   --color-primary:  #222
   --color-secondary: rgba(110, 69, 51, 1);
   --color-focus-menu: #B90000;
   --color-background: #fff;
   --color-list-odd: #f2f2f2;

*/

/* Utiliza  la propiedad counter-increment: step-counter; para pintar el número de la canción
 */
